@font-face {
  font-family: "PixelDigivolve";
  src:
    local("PixelDigivolve"),
    url("fonts/digivolve/PixelDigivolve.ttf") format("truetype") ,
    url("fonts/digivolve/PixelDigivolveItalic.ttf") format("truetype");
}

html, body {
    height: 100%;
    color: #ffffff;
  }
  html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 150%;
    line-height: 1.4;
  }
  body {
    margin: 0;
  }

video {
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
  }
  .video-wrapper {
    width: 1920px;
    height: 1080px;
    position: relative;
    overflow: hidden;
    display: flex;
  }
  .header_title{
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .header_title h1{
    position: relative;
    transform: translate(40%, 0%);
    width: 100%;
    text-align: center;
    font-family: PixelDigivolve, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    line-height: 1.2;
    font-size: 6vw;
    font-style: italic;
  }

  .header_title h2 {
    position: relative;
    transform: translate(-70%, 80%);
    width: 100%;
    text-align: center;
    font-family: PixelDigivolve, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    line-height: 1.2;
    font-size: 3vw;
    font-style: italic;
  }
  

  #draw {
    position: absolute;
    height: 100vh;
    transform: translate(0%, 40%);
    display: flex;
    align-items: center;
    mix-blend-mode: screen;
    width: 920px;
    height: 690px;
    margin: 0 auto;
    background: url(images/greymonx.jpg) top center;
  }

  form{
    position: relative;
  }

  


